<!DOCTYPE html>
	<html>
		<head>
			<title >{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			
	    		<ul>
	        		<li type=square><a href="/">Home</a></li>
		        	<li type=square><a href="/about">About</a></li>
	        		<li type=square><a href="/cv">CV</a></li>
	        		<li type=square><a href="/blog">Blog</a></li>
					<li type=square><a href="/Webove_publikovanie">Webové publikovanie</a></li>
	    		</ul>
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
			
		</body>
		<banner>
				<ul>
	        		<li><a href="mailto:xpomffyova@gmail.com">email</a></li>
	        		<li><a href="https://github.com/xpomffyova">github.com/xpomffyova</a></li>
				</ul>
		</banner>
		
	</html>
